In [70]:
import pandas as pd

In [71]:
df = pd.read_csv(r"C:\Users\alokk\Desktop\csv\heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [72]:
x = df.drop(['target'],axis =1)
y = df['target']

In [73]:
from sklearn.preprocessing import StandardScaler
from sklearn import metrics 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [74]:
x_c = StandardScaler().fit_transform(x)

In [75]:
x_train,x_test,y_train,y_test = train_test_split(x_c,y,test_size = 0.10,random_state = 35)

In [76]:
classifier = RandomForestClassifier(n_estimators = 100)
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)

In [77]:
print("Accuracy:", metrics.accuracy_score(y_pred,y_test))

Accuracy: 0.8709677419354839

In [78]:
print("confusion matrix:\n", metrics.confusion_matrix(y_pred,y_test))

confusion matrix:
 [[ 8  3]
 [ 1 19]]

In [79]:
print("Classification Report:\n",metrics.classification_report(y_pred,y_test))

Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.73      0.80        11
           1       0.86      0.95      0.90        20

    accuracy                           0.87        31
   macro avg       0.88      0.84      0.85        31
weighted avg       0.87      0.87      0.87        31